.heading
  align-items: var(--drink-heading-align-items)
  display: flex
  flex-direction: var(--drink-heading-flex-direction)
  height: rem(100)
  justify-content: var(--drink-heading-justify-content)

  select
    accent-color: var(--text-primary)
    background: transparent
    color: var(--text-primary)
    padding: rem(5) rem(10)
  
.category-filters
  display: flex
  flex-direction: row
  justify-content: space-between

.drinks
  display: grid
  gap: var(--drink-grid-gap)
  grid-template-columns: var(--drink-grid-columns)
  margin:
    bottom: var(--content-spacing-double)
    top: var(--content-spacing)

.drink
  h3
    line-height: 1.5
    margin: 0

  img
    border: var(--border-medium) solid var(--text-primary)
    width: 100%

  