.heading
  align-items: center
  display: flex
  flex-direction: var(--drink-heading-flex-direction)
  height: 100px
  justify-content: space-between
  
.category-filters
  display: flex
  flex-direction: row
  justify-content: space-between

.drinks
  display: grid
  gap: var(--drink-grid-gap)
  grid-template-columns: var(--drink-grid-columns)

.drink img
  border: 4px solid var(--text-primary)
  width: 100%

  